<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822406758404-fev69ian0g95hb9jcgve9pisak35s5bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822406758404-fev69ian0g95hb9jcgve9pisak35s5bl</string>
	<key>API_KEY</key>
	<string>AIzaSyAWrB3dCSnrt56MDE7-Zz1KdwS0IdpCqOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>822406758404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sp.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-netology-b4e12</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-netology-b4e12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822406758404:ios:fb08d40330df4dfcedb551</string>
</dict>
</plist>